.section1 {
  /* background-color: aqua; */

}

.section2 {
  /* background-color: blueviolet; */
}

.section3 {
  background-color: coral;
}

.section-topic {
  color: white;
  padding: 5px;
}

.cardform {
  color: tomato;
}